

/* FONT FAMILY - ROBOTO  */

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); 
  }

/* FONT FAMILY PHILOSOPHER  */

@font-face {
    font-display: swap; 
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v20-latin-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/philosopher-v20-latin-700.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --bg-color: rgba(220, 120, 11, 1);
    --title-color: rgba(21, 12, 1, 1);
}
strong {
    text-transform: uppercase;
}

/* HEADER SECTION STYLE START  */

.site-header {
    top: 0;
    height: 90px;
    padding: 30px 14px 0px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 50;
    -webkit-box-shadow: 0 0 4px 1px black;
            box-shadow: 0 0 4px 1px black;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.haed-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.head-wrapper__logo-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 35px;
}
.haed-wrapper__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 41px;
}
.navbar__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: var(--title-color);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.navbar__link:hover {
    color: var(--bg-color);
}
.navbar__link:active {
    opacity: 0.6;
}
.haed-wrapper__btn {
    width: 155px;
    height: 46px;
    background-color: var(--bg-color);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: white;
    border: 1.5px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.haed-wrapper__btn:hover {
    border-color: var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
}
.haed-wrapper__btn:active {
    opacity: 0.6;
    width: 155px;
    height: 46px;
    background-color: var(--bg-color);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: white;
    border: 3px solid transparent;
}

/* HERO SECTION STYLE START  */

.hero {
    margin-top: 184px;
}
.hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hero__content {
    width: 555px;
}
.hero__title {
    font-size: 48.83px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
    color: var(--title-color);
}
.hero__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    opacity: 0.7;
    margin-top: 42px;
}
.hero__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-top: 50px;
}
.hero__btn-1 {
    width: 158px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
.hero__btn-2 {
    width: 158px;
    height: 60px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1.5px solid   var(--bg-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.hero__btn-1:hover {
    width: 158px;
    height: 60px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1.5px solid   var(--bg-color);
}
.hero__btn-2:hover {
    width: 158px;
    height: 60px;
    border-radius: 5px;
    background-color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 3px solid transparent;
}
.hero__btn-1:active, .hero__btn-2:active {
    opacity: 0.6;
}

/* FEATURES SECTION STYLE START  */

.features {
    margin-top: 115px;
    padding-left: 30px;
}
.features__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 44px;
}
.features__title-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.features-start-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--bg-color);
    text-transform: uppercase;
}
.features__title {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    color: var(--title-color);
}
.features__card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 90px;
}
.features__card {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.features__img-wrapper {
    width: 88px;
    height: 88px;
    background-color: rgba(143, 166, 50, 0.1);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.features__img-wrapper--odd-color {
    background-color: rgba(230, 77, 46, 0.1);
}
.features__img-wrapper--odd-color-2 {
    background-color: rgba(220, 120, 11, 0.1);
}
.features__card-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    margin-top: 33px;
}
.feates__card-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--title-color);
    opacity: 0.7;
    margin-top: 15px;
}

/* ABOUT SECTION STYLE START  */
.about {
    margin-top: 123.73px;
}
.about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 97px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about__content-starter {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: left;
    color: var(--bg-color);
    text-transform: uppercase;
}
.about__title {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.63px;
    text-align: left;
    color: var(--title-color);
    margin-top: 10px;
}
.about__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    opacity: 0.7;
    margin-top: 30px;
}
.about__btn {
    width: 142px;
    height: 42px;
    margin-top: 29px;
    border-radius: 5px;
    border: 1.5px solid transparent;
    background-color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s; 
    transition: all 0.3s;   
}
.about__btn:hover {
    border-color: var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
}
.about__btn:active {
    border: 1.5px solid transparent;
    background-color: var(--bg-color);
    color: white;
    opacity: 0.7;
}

/* MENU SECTION STYLE START  */

.menu {
    margin-top: 115.27px;
}
.menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
}
.menu__title-wrapper {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 748px;
}
.menu__cards-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
.menu__cards-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
.menu__start-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--bg-color);
}
.menu__title {
    margin-top: 9px;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
}
.menu__content {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--title-color);
    opacity: 0.7;
}
.menu__cards-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
}
.menu__card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-top-left-radius: 75px;
    width: 360px;
    cursor: pointer;
    padding-bottom: 25px;
}
.menu__card-info-wrapper {
    margin-left: 25px;
}
.menu__food-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 128px;
    margin-top: 21px;
}
.menu__card-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
}
.menu__card-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    opacity: 0.7;
    margin-top: 20px;
}
.menu__card-btns-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 186px;
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu__card-plus-btn {
    width: 36px;
    height: 34px;
    border-radius: 5px;
    background-color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1.5px solid transparent;
    color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu__card-plus-btn:hover {
    border-color: var(--bg-color);
    background-color: transparent;
    color: var(--bg-color);
}
.menu__card-plus-btn:active {
    border: 1.5px solid transparent;
    background-color: var(--bg-color);
    color: white;
    opacity: 0.7;
}
.menu__btn {
    margin: 0 auto;
    width: 142px;
    height: 42px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu__btn:hover {
    background-color: var(--bg-color);
    color: white;
}
.menu__btn:active {
    opacity: 0.7;
}

/* APP SECTION STYLE START  */

.app {
    margin-top: 187px;
    background-color: rgba(251, 241, 231, 1);
}
.app__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 56px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 890px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.app__content-wrapper {
    width: 555px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.app__start-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: left;
    color: var(--bg-color);
    text-transform: uppercase;
}
.app__title {
    margin-top: 5px;
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.63px;
    text-align: left;
    color: var(--title-color);
}
.app__info {
    margin-top: 29px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    opacity: 0.7;
}
.app__btn-wrapper {
    margin-top: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}
.app__btn {
    width: 163px;
    height: 48px;
    background-color: var(--title-color);
    border: 1.5px solid transparent;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.app__btn:hover {
    color: black;
    background-color: transparent;
    border-color: var(--title-color);
}
.app__btn:nth-child(2) {
    color: black;
    background-color: transparent;
    border-color: var(--title-color);
}
.app__btn:nth-child(2):hover {
    width: 163px;
    height: 48px;
    background-color: var(--title-color);
    border: 1.5px solid transparent;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* TESTIMONIAL SECTION STYLE START  */
.testimonial {
    margin-top: 213px;
}
.testimonial__wrapper {
    width: 750px;
    padding: 0px 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.testimonial__start-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--bg-color);
}
.testimonial__title {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: var(--title-color);
    margin-top: 12px;
}
.testimonial__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--title-color);
    opacity: 0.7;
    margin-top: 23px;
}
.feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.feedback__img {
    margin: 0 auto;
    margin-top: 73px;
}
.feedback__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 42px;
}
.feedback__stars-img {
    width: 88px;
    height: 16px;
    margin: 0 auto;
    margin-top: 10px;
}
.feedback__designer-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 32px;
}
.feedback__designer-identity {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 6px;
}

/* CONTACT SECTION STYLE START  */

.contact {
    margin-top: 120px;
    background-color:  rgba(251, 241, 231, 1);
    padding-top: 115px;
    padding-bottom: 117px;
}
.contact__wrapper {
    width: 750px;
    margin: 0 auto;
}
.contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contact__start-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.2em;
    text-align: center;
    color: var(--bg-color);
}
.contact__title {
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.6px;
    text-align: center;
    color: var(--title-color);
    margin-top: 15px;
}
.form {
    margin-top: 46px;
}
.form__label {
    width: 750px;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 46px;
}
.form__input {
    width: 750px;
    height: 75px;
    border-radius: 10px;
    background-color: white;
    outline: 0;
    border: 0;
    padding-left: 32px;
    padding-right: 166px;
}
.form__input::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.form__input::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.form__input:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.form__input::-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.form__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 40.6px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}
.form__btn {
    position: absolute;
    width: 156px;
    height: 75px;
    border-radius: 10px;
    background-color: var(--bg-color);
    border: 3px solid transparent;
    right: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 40.6px;
    text-align: center;
    color: white;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;    
}
.form__btn:hover {
    background-color: white;
    border-color: var(--bg-color);
    color: var(--bg-color);
}
.form__btn:active {
    background-color: var(--bg-color);
    border-color: transparent;
    color: white;
    opacity: 0.7;
}

/* FOOTER SECTION STYLE START  */

.site-footer {
    background-color: rgba(37, 37, 37, 1);
    padding: 137px 0px 104px 0px;
}
.site-footer strong {
    font-family: 'Philosopher', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: white;
    text-transform: capitalize;
}
.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17px;
    
}
.footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.footer__link:hover {
    color: white;
}
.footer-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17px;
}
.footer-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17px;
}
.footer-fourth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 17px;
}
.footer__icons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
}